In [1]:
import pandas as pd

In [2]:
import gc

<h2><center>Чтение из CSV</center></h2>

In [3]:
fines = pd.read_csv('../data/fines.csv')

In [4]:
fines

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>LOOP</center></h2>

In [5]:
def loop(df):
    res = []
    for i in range(len(df)):
        res.append(df.iloc[i].Fines/df.iloc[i].Refund * df.iloc[i].Year)
    return res

In [6]:
%%timeit
fines['New_column'] = pd.Series(loop(fines))

223 ms ± 4.02 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
fines

        CarNumber  Refund         Fines    Make  Model  Year    New_column
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989  3.182400e+06
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995  1.296750e+07
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984  4.166400e+06
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015  2.015000e+06
4    92918M178RUS       1   5700.000000    Ford  Focus  2014  1.147980e+07
..            ...     ...           ...     ...    ...   ...           ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014  1.007000e+06
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016  1.532160e+07
927  1111XX154RUS       1    500.000000    Ford  Focus  1994  9.970000e+05
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982  8.517235e+06
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017  3.993660e+07

[930 rows x 7 columns]

In [8]:
fines.drop('New_column', axis=1)

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>ITERROWS</center></h2>

In [9]:
def iter_rows(df):
    res = []
    for row in df.iterrows():
        res.append(row[1].Fines / row[1].Refund * row[1].Year)
    return res

In [10]:
%%timeit
fines['New_column'] = pd.Series(iter_rows(fines))

47.7 ms ± 3.62 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
fines

        CarNumber  Refund         Fines    Make  Model  Year    New_column
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989  3.182400e+06
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995  1.296750e+07
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984  4.166400e+06
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015  2.015000e+06
4    92918M178RUS       1   5700.000000    Ford  Focus  2014  1.147980e+07
..            ...     ...           ...     ...    ...   ...           ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014  1.007000e+06
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016  1.532160e+07
927  1111XX154RUS       1    500.000000    Ford  Focus  1994  9.970000e+05
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982  8.517235e+06
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017  3.993660e+07

[930 rows x 7 columns]

In [12]:
fines.drop('New_column', axis=1)

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>LAMBDA FUNC AND APPLY</center></h2>

In [13]:
%%timeit
fines['New_column'] = fines.apply(lambda x: x.Fines / x.Refund * x.Year, axis=1)

21.7 ms ± 1.96 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
fines

        CarNumber  Refund         Fines    Make  Model  Year    New_column
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989  3.182400e+06
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995  1.296750e+07
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984  4.166400e+06
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015  2.015000e+06
4    92918M178RUS       1   5700.000000    Ford  Focus  2014  1.147980e+07
..            ...     ...           ...     ...    ...   ...           ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014  1.007000e+06
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016  1.532160e+07
927  1111XX154RUS       1    500.000000    Ford  Focus  1994  9.970000e+05
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982  8.517235e+06
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017  3.993660e+07

[930 rows x 7 columns]

In [15]:
fines.drop('New_column', axis=1)

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>С ПОМОЩЬЮ SERIES</center></h2>

In [16]:
%%timeit
fines['New_column'] = fines.Fines / fines.Refund * fines.Year

267 µs ± 11.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
fines

        CarNumber  Refund         Fines    Make  Model  Year    New_column
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989  3.182400e+06
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995  1.296750e+07
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984  4.166400e+06
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015  2.015000e+06
4    92918M178RUS       1   5700.000000    Ford  Focus  2014  1.147980e+07
..            ...     ...           ...     ...    ...   ...           ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014  1.007000e+06
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016  1.532160e+07
927  1111XX154RUS       1    500.000000    Ford  Focus  1994  9.970000e+05
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982  8.517235e+06
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017  3.993660e+07

[930 rows x 7 columns]

In [18]:
fines.drop('New_column', axis=1)

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>С ПОМОЩЬЮ SERIES И VALUES</center></h2>

In [19]:
%%timeit
fines['New_column'] = fines.Fines.values / fines.Refund.values * fines.Year.values

139 µs ± 2.91 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [20]:
fines

        CarNumber  Refund         Fines    Make  Model  Year    New_column
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989  3.182400e+06
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995  1.296750e+07
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984  4.166400e+06
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015  2.015000e+06
4    92918M178RUS       1   5700.000000    Ford  Focus  2014  1.147980e+07
..            ...     ...           ...     ...    ...   ...           ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014  1.007000e+06
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016  1.532160e+07
927  1111XX154RUS       1    500.000000    Ford  Focus  1994  9.970000e+05
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982  8.517235e+06
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017  3.993660e+07

[930 rows x 7 columns]

In [21]:
fines.drop('New_column', axis=1)

        CarNumber  Refund         Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.000000    Ford  Focus  1989
1     E432XX77RUS       1   6500.000000  Toyota  Camry  1995
2     7184TT36RUS       1   2100.000000    Ford  Focus  1984
3    X582HE161RUS       2   2000.000000    Ford  Focus  2015
4    92918M178RUS       1   5700.000000    Ford  Focus  2014
..            ...     ...           ...     ...    ...   ...
925  1114EY154RUS       1    500.000000    Ford  Focus  2014
926  1115KX197RUS       2  15200.000000    Ford  Focus  2016
927  1111XX154RUS       1    500.000000    Ford  Focus  1994
928  1110EY154RUS       2   8594.586466    Ford  Focus  1982
929   1111CC96RUS       1  19800.000000    Ford  Focus  2017

[930 rows x 6 columns]

<h2><center>INDEXING</center></h2>

In [22]:
%%timeit
fines[fines['CarNumber'] == 'Y163O8161RUS']

259 µs ± 5.75 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [23]:
%%timeit
fines.index = fines.CarNumber

90.2 µs ± 2.82 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [24]:
fines

,CarNumber,Refund,Fines,Make,Model,Year,New_column
CarNumber,,,,,,,
Y163O8161RUS,Y163O8161RUS,2,3200.000000,Ford,Focus,1989,3.182400e+06
E432XX77RUS,E432XX77RUS,1,6500.000000,Toyota,Camry,1995,1.296750e+07
7184TT36RUS,7184TT36RUS,1,2100.000000,Ford,Focus,1984,4.166400e+06
X582HE161RUS,X582HE161RUS,2,2000.000000,Ford,Focus,2015,2.015000e+06
92918M178RUS,92918M178RUS,1,5700.000000,Ford,Focus,2014,1.147980e+07
...,...,...,...,...,...,...,...
1114EY154RUS,1114EY154RUS,1,500.000000,Ford,Focus,2014,1.007000e+06
1115KX197RUS,1115KX197RUS,2,15200.000000,Ford,Focus,2016,1.532160e+07
1111XX154RUS,1111XX154RUS,1,500.000000,Ford,Focus,1994,9.970000e+05
1110EY154RUS,1110EY154RUS,2,8594.586466,Ford,Focus,1982,8.517235e+06
1111CC96RUS,1111CC96RUS,1,19800.000000,Ford,Focus,2017,3.993660e+07

In [25]:
%%timeit
fines[fines.index == 'Y163O8161RUS']

190 µs ± 11.4 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

<h2><center>DOWNCASTING</center></h2>

In [26]:
fines.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 1111CC96RUS
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int64
 2   Fines       930 non-null    float64
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int64
 6   New_column  930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 266.2 KB

In [27]:
fines_optimized = fines.copy()

In [28]:
fines_optimized

,CarNumber,Refund,Fines,Make,Model,Year,New_column
CarNumber,,,,,,,
Y163O8161RUS,Y163O8161RUS,2,3200.000000,Ford,Focus,1989,3.182400e+06
E432XX77RUS,E432XX77RUS,1,6500.000000,Toyota,Camry,1995,1.296750e+07
7184TT36RUS,7184TT36RUS,1,2100.000000,Ford,Focus,1984,4.166400e+06
X582HE161RUS,X582HE161RUS,2,2000.000000,Ford,Focus,2015,2.015000e+06
92918M178RUS,92918M178RUS,1,5700.000000,Ford,Focus,2014,1.147980e+07
...,...,...,...,...,...,...,...
1114EY154RUS,1114EY154RUS,1,500.000000,Ford,Focus,2014,1.007000e+06
1115KX197RUS,1115KX197RUS,2,15200.000000,Ford,Focus,2016,1.532160e+07
1111XX154RUS,1111XX154RUS,1,500.000000,Ford,Focus,1994,9.970000e+05
1110EY154RUS,1110EY154RUS,2,8594.586466,Ford,Focus,1982,8.517235e+06
1111CC96RUS,1111CC96RUS,1,19800.000000,Ford,Focus,2017,3.993660e+07

In [29]:
fcols = fines_optimized.select_dtypes('float').columns
fines_optimized[fcols] = fines_optimized[fcols].apply(pd.to_numeric, downcast='float')

In [30]:
fines_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 1111CC96RUS
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int64
 2   Fines       930 non-null    float32
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int64
 6   New_column  930 non-null    float32
dtypes: float32(2), int64(2), object(3)
memory usage: 258.9 KB

In [31]:
icols = fines_optimized.select_dtypes('integer').columns
fines_optimized[icols] = fines_optimized[icols].apply(pd.to_numeric, downcast='integer')

In [32]:
fines_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 1111CC96RUS
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int8
 2   Fines       930 non-null    float32
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int16
 6   New_column  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(3)
memory usage: 247.1 KB

<h2><center>CATEGORIES</center></h2>

In [33]:
objcols = fines_optimized.select_dtypes('object').columns
fines_optimized[objcols] = fines_optimized[objcols].astype('category')

In [34]:
fines_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 1111CC96RUS
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    category
 1   Refund      930 non-null    int8
 2   Fines       930 non-null    float32
 3   Make        930 non-null    category
 4   Model       919 non-null    category
 5   Year        930 non-null    int16
 6   New_column  930 non-null    float32
dtypes: category(3), float32(2), int16(1), int8(1)
memory usage: 129.9 KB

<h2><center>MEMORY CLEAN</center></h2>

In [38]:
%reset_selective
del fines
gc.collect()

Once deleted, variables cannot be recovered. Proceed (y/[n])?   y

No regex pattern specified. Nothing done.

NameError: name 'fines' is not defined

In [36]:
fines.info() # for check-list

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 1111CC96RUS
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarNumber   930 non-null    object
 1   Refund      930 non-null    int64
 2   Fines       930 non-null    float64
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int64
 6   New_column  930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 58.1+ KB